
  @theme: #e5017d;
  
  
  /* flex 类名封装 */
  .flex,
  .flex_ac,
  .flex_jc,
  .flex_dc,
  .flex_jcb {
    display: flex;
  }

  .flex_ac {
    align-items: center;
  }

  .flex_jc{
    justify-content: center;
  }

  .flex_dc {
    flex-direction: column;
  }

  .flex_jcb {
    justify-content: space-between;
  }

  .flex_jca{
    justify-content: space-around;
  }

  .flex_1 {
    flex: 1;
  }

  .flex_2 {
    flex: 2;
  }
  
  .flex_3 {
    flex: 3;
  }

